@charset "utf-8";
/* CSS Document */

*{margin:0;padding:0;}


/* ---reset.css--- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	font-family:'Century Gothic', "微軟正黑體", Arial , Heiti TC, sans-serif ;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
	-webkit-text-size-abjust:none; /*iphon 旋轉字大小不變*/
}

input[type="button"], input[type="submit"], input[type="reset"] {-webkit-appearance: none;}
textarea {  -webkit-appearance: none;}
.button{ border-radius: 0; } 
body {line-height: 1;}
ol, ul { list-style: none;}
blockquote, q { quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none;}

/* remember to highlight inserts somehow! */
ins { text-decoration: none;}
del {  text-decoration: line-through;}

/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing: 0;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {display: block;}
/* ---reset.css--- */


a{ text-decoration:none; color:#2976ff;}
a:hover{text-decoration:none; }

.WRAPPER{ width:100%; overflow:hidden;}
/*----head---------------------*/
.header{ width:100%; height:60px; background-color:#FFF;}
.sinyiliving{ width:80%; padding:10px; margin:0 auto;}
.site-logo{ width:160px; height:25px;}
/*----head---------------------*/

/*----thankyou --------------------------------*/
.thankyou{ width:100%; height:auto; margin:0 auto;}
.thankbox{ width:1000px; margin:0 auto; padding-top:80px; text-align:center;}
.thankbox h3{ color:#46c7c3; font-size:45px; line-height:55px; padding-bottom:20px;}
.thankbox p{ font-size:18px;  line-height:28px;}
.thankphoto{ width:600px; margin:0 auto;}
.thankphoto img{ width:100%; height:auto;}
@media screen and (max-width:1200px){
.thankbox{ width:95%; padding-top:80px; }	
.thankbox h3{ font-size:32px; line-height:42px; }
.thankphoto{ width:100%; }
	}
	
/*--- Related clean article-----------*/	
.relatedarticle{ width:100%;   height:auto; background-color: #46c7c3; text-align:center;  }	
.article{ width:1300px; margin:0 auto; padding-top:10px;}	
.article h3{ color:#FFF; font-size:36px; line-height:42px; padding:20px 0 30px;}
.article-box{box-sizing: border-box; margin-top:20px; padding-bottom:40px;}

.container {display:inline-block;	 position: relative;width: 50%;max-width: 300px;margin-left:20px; margin-bottom:20px;}
.image { display: block; width: 100%; height: auto;}
.overlay {position: absolute; bottom: 0; background: rgb(0, 0, 0);background: rgba(0, 0, 0, 1); /* Black see-through */
  color: #f1f1f1; width: 86.7%;opacity:1;color: white; font-size: 20px; padding: 20px;  text-align: center;opacity:0.7;}
.container:hover .overlay { opacity:1;}
@media screen and (max-width:1340px){
.article{ width:100%; margin:0 auto; padding-top:10px; height:auto;}		
	}
@media screen and (max-width:690px){
.container {display:inline-block; width: 98%;max-width:300px;margin-left:5px; margin-bottom:20px;}
.image { display: block; width: 100%; height: auto;}
.overlay {position: absolute; bottom: 0; background: rgb(0, 0, 0);background: rgba(0, 0, 0, 1); /* Black see-through */
  color: #f1f1f1; width: 86.9%;opacity:1;color: white; font-size: 20px; padding: 20px;  text-align: center;opacity:0.7;}
.container:hover .overlay { opacity:1;}	
	}	
@media screen and (max-width:480px){
.container {display:inline-block; width: 98%;max-width:300px;margin-left:0px;	}
	}	
/*-------contact US------------------------------*/
.contact{ width:100%; height:auto; margin:0 auto; }
.contact-box{ width:500px; margin:0 auto; padding:40px 0;  }
.contact-box p{ margin-bottom:10px; text-align:center; line-height:24px;}	

@media screen and (max-width:690px){
.contact-box{ width:90%; }	
.contact-box p{ text-align:left;}

	}
/*----Notices-----*/

footer{ width:100%; height: auto ; color:#FFF;line-height:24px; background-color:#3e3a39;}
.footer_notices{ width:900px; margin:0px auto; padding:20px 0;}
.footer_notices h4{ font-siaze:24px;  }
.footer_notices ol{ width:90%; margin:10px auto; list-style-type:square; }
.pointcolor{ color:#fa5959;}
footer .copyright{ text-align:center; padding:10px; color:#adadae; }

@media screen and (max-width:900px){
.footer_notices{ width:90%; padding:20px 0;}
	}






















